@keyframes sayno{
    0%{
        margin-left: 0px;
    }
    20%{
        margin-left: 80px;
    }
    40%{
        margin-left: -80px;
    }
    60%{
        margin-left: 60px;
    }
    80%{
        margin-left: -60px;
    }
    100%{
        margin-left: 0px;
    }
}