.page-wrap{
    height: 100%;
    position: relative;
}

$left-color:#33adff;
$center-color:#4ea4ff;
$right-color:#8979ff;

$border-gray:#ddd;

$blue-main:#28B2ED;

.woo-btn{
    outline: none;
    user-select: none;
    position: relative;
    z-index: 1;
    display: inline-block;
    width: auto;
    height: 64px;
    padding: 0 1.5em;
    background: linear-gradient(to right, $left-color, $center-color, $right-color);
    border: 0;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.125rem;
    line-height: 64px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,0.15);
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.25s linear;
    &.small{
        color: #fff;
        text-transform: none;
        letter-spacing: normal;
        height: 44px;
        line-height: 44px;
        padding: 0 1em;
        font-size: 1rem;
    }
    &.extra-small{
        height: 32px;
        font-size: 12px;
        line-height: 32px;
    }
    &:before{
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -100;
        display: block;
        width: 100%;
        height: 100%;
        background: $left-color;
        border-radius: inherit;
        opacity: 0;
        transition: opacity 0.25s linear;   
    }
    &:hover{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.34);
        &:before{
            opacity: 1;
        }
    }
    &.light{
        background: none;
        color:#555;
        &:hover{
            color:#fff;
            &:before{
                opacity: 1;
                background: linear-gradient(to right, $left-color, $center-color, $right-color);
            }
        }
    }
}