.login-wrap{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/circles-light.png");
    background-repeat: repeat;
    .card{
        padding: 20px 30px;
        background-color: #fff;
        box-shadow: -5px 10px 20px 0px rgba(0,0,0,0.3);
        border-radius: 1px;
        min-width: 400px;
        position: relative;
        opacity: 1;
        transition: all 200ms ease;
        &.error{
            animation: sayno 400ms linear;
        }
        &.success{
            margin-left: 200px;
            opacity: 0;
        }
        .cprog-wrap{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
            &.show{
                display: flex;
            }
        }
        .card-header{
            text-align: center;
            .company{
                font-size: 34px;
                font-weight: 600;
                line-height: 35px;
            }
            .sub{
                font-size: 22px;
                line-height: 25px;
                margin-top: 40px;
            }
        }
        .login-form{
            margin-top: 30px;
            .login-btn-wrap{
                margin-top: 30px;
                display: flex;
                justify-content: center;
            }
            .error{
                margin-top: 20px;
                text-align: center;
                color: #f32b1e;
                font-weight: 700;
                font-size: 17px;
            }
        }
    }
}